@model QLBanSach_64139020.Models.SACH

@{
    ViewBag.Title = "Chitietsach";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h5>CHI TIẾT SÁCH</h5>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên sách:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tensach)
        </dd>

        <dt>
            Giá bán:
        </dt>

        <dd>
            @String.Format("{0:#,##0}", Model.Giaban) VNĐ
        </dd>

        <dt>
            Mô tả:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
            Ảnh bìa
        </dt>

        <dd>
            <img src="@Url.Content("~/images/anhsp/" + Model.Anhbia)" style="width:50px;" />
        </dd>

        <dt>
            Ngày cập nhật:
        </dt>

        <dd>
            @String.Format("{0:dd/MM/yyyy}", Model.Ngaycapnhat)
        </dd>

        <dt>
            Số lượng tồn:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluongton)
        </dd>
        <dt>
            Loại sách:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAISACH.TenLoai)
        </dd>
        <dt>
            Nhà xuất bản:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NHAXUATBAN.TenNXB)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("← Trở lại", "Sach_64139020", null, new { @class = "btn btn-outline-secondary rounded-pill px-3" })
    @Html.ActionLink("Sửa sách", "Suasach_64139020", null, new { id = Model.Masach }, new {@class = "btn btn-outline-secondary rounded-pill px-3" })
</p>
